#battleLogBox {
  width: 400px;
  height: 30%;
  border: 1px solid #000;
  overflow-y: scroll;
  /* text-align: center; */
  margin: 2% auto 5%;
  background-color: rgba(255, 255, 255, 0.7);
}

.logText {
  text-align: left;
  color: black;
}
